*{
    box-sizing: border-box;
}
body {
    background-color: black;
    font-family: 'Abril Fatface', serif;
}

#container {
    width: 90%; 
    background-color: black;
    margin: 0 auto;
}

h1, h2, h4, h5, h6 {
    font-family: 'Abril Fatface', Cursive;
    margin: 0;
    color: white;
    font-size:8pc;
}


h1 {
    float: center;
    padding-left: 1.3em;
    color: yellow;
}
h3 {
    font-family: '';
    margin: 0;
    color: black;
}

h4 {
    max-height: 20px;
    overflow: hidden;
    background-color: white;
}

#search{
    display: inline-block;
    
    padding: 1.5em;
}

#search input {
    padding: 0.4em;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

main {
    background-color: grey;
    min-height: 450px;
}

main > aside {
    float: left;
    width: 20%;
    background-color: white;
    padding: 20px;
}

aside select {
    width: 100%;
}

aside hr {
    border: none;
    border-bottom: 1px solid lightslategray;
    padding-bottom: 5px;
}

#Meme-listings {
    list-style: none;
    margin: 0;
    padding: 0;
}

.meme {
    width: 30%;
    background-color: white;
    color: black;
    float: left;
    margin: 0 20px 20px 0;
}

.meme img {
    width: 90%;
    margin: 10px auto;
    display: block;
}

.meme h4, .meme p, .meme a {
    margin: 0;
    text-align: center;
    display: block;
}
footer {
    background-color: black;
    text-align: center;
    color: white;
}

footer p {
   padding: 10px;
   margin: 0;
}